.btn {
  background-color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid rgb(42, 6, 172);
  border-radius: 5px;
  min-width: 90px;
  margin-bottom: 15px;
}

.btn:hover {
  background-color: rgb(135, 121, 219);
  color: black;
  transform: scale(1.1);
}
