header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  padding: 15px 35px;
  background-color: rgba(123, 212, 204, 0.382);
}

.navLink {
  text-decoration: none;
  color: black;
  font-size: 27px;
}

.navLink + .navLink {
  margin-left: 15px;
}

.activeNavLink {
  composes: navLink;
  color: rgb(254, 53, 100);
}
